<h2>Popular movies</h2>


<p-carousel [value]="movies" [numVisible]="3" [numScroll]="3" [circular]="false">
  <ng-template let-product pTemplate="item">
    <div>
      <ng-template ngFor let-movie [ngForOf]="movies">
        <a routerLink="/details/{{movie.id}}">
          <section>
            <div>
              <img [src]="linkImg.concat(movie.poster_path)" alt="Picture" (click)="getId(movie)">
            </div>
            <div class="informations">
              <h3>{{movie.original_title}}</h3>
              <p>Views: {{movie.popularity}}</p>
              <p><img  id="star" src="assets/icons8-star.png" alt=""> {{movie.vote_average}}</p>
              <a routerLink="/favorites">
                <button (click)="addFavorites(movie)">
                  <span>Add to favorite</span>
                </button>
              </a>
            </div>
          </section>
        </a>
      </ng-template>
    </div>
  </ng-template>
</p-carousel>


<h2>Family movies</h2>

<p-carousel [value]="movies" [numVisible]="3" [numScroll]="3" [circular]="false">
  <ng-template let-product pTemplate="item">
    <div>
      <ng-template ngFor let-movieF [ngForOf]="moviesF">
        <a routerLink="/details/{{movieF.id}}">
          <section>
            <div>

              <img [src]="linkImg.concat(movieF.poster_path)" alt="Picture" (click)="getId(movieF)">
            </div>
            <div class="informations">
              <h3>{{movieF.original_title}}</h3>
              <p>Views: {{movieF.popularity}}</p>
              <p><img  id="star" src="assets/icons8-star.png" alt=""> {{movieF.vote_average}}</p>
              <a routerLink="/favorites">
                <button (click)="addFavorites(movieF)">
                  <span>Add to favorite</span>
                </button>
              </a>
            </div>
          </section>
        </a>
      </ng-template>
    </div>
  </ng-template>
</p-carousel>


<h2>Documentary movies</h2>

<p-carousel [value]="movies" [numVisible]="3" [numScroll]="3" [circular]="false">
  <ng-template let-product pTemplate="item">
    <div>
      <ng-template ngFor let-movieD [ngForOf]="moviesD">
        <a routerLink="/details/{{movieD.id}}">
          <section>
            <div>
              <img [src]="linkImg.concat(movieD.poster_path)" alt="Picture" (click)="getId(movieD)">
            </div>
            <div class="informations">
              <h3>{{movieD.original_title}}</h3>
              <p>Views: {{movieD.popularity}}</p>
              <p><img  id="star" src="assets/icons8-star.png" alt=""> {{movieD.vote_average}}</p>
              <a routerLink="/favorites">
                <button (click)="addFavorites(movieD)">
                  <span>Add to favorite</span>
                </button>
              </a>
            </div>
          </section>
        </a>
      </ng-template>
    </div>
  </ng-template>
</p-carousel>
