@import '../../config-scss/rem-calc.scss';

* {
  color: white;
}

form {
  text-align: center;
  margin-top: 2rem;
}

input {
  width: 500px;
  height: 40px;
  background-color: white;
  text-align:center;
  border-radius: 15px;
  color: black;
}

img {
  height: 330px;

  &:hover {
    transform: scale(1.2);
    transition: 0.3s;
  }
}

div {
  display: flex;
  margin-left: 25px;
  margin-right: 25px;
}

section {
  margin: 40px 0;
  display: flex;

  &:hover .informations {
    width: 250px;
    height: 330px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    cursor: default;
  }
}

.informations {
  display: none;
}

button {
  width: 8rem;
  height: 2rem;
  background-color: #111;
  display: flex;
  align-items: center;
  padding: 0.2rem;
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 0 0px 5px rgb(255 255 255 / 50%);
  border-radius: 0.5rem;
  justify-content: center;

  &:hover {
    background-color: rgb(121, 121, 121);
    cursor: pointer;
  }
}

#star {
  width: 32px;
  height: 26px;
  margin-right: 5px;

  &:hover {
    transform: scale(1.5);  
  }
}

h3 {
  font-size: 1.5rem;
}